body{
    background-color: whitesmoke;
    background-image: url(https://images.pexels.com/photos/1227511/pexels-photo-1227511.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
  
}


h1{
 font-family: Impact;
 font-size: 80px;
 color: rgb(231, 6, 6);
 display:flex;
 justify-content: center;
 align-items: center;
}

h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}
  
h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: whitesmoke;
    z-index: -1;
    transition: transform .3s ease;
}
  
h1 {
    position: relative;
    font-size: 5rem;
}

h5 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;

}


canvas {
    border: 20px solid whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);               
  
                    
}
  


button{
    background-color: rgb(241, 64, 64);
    color:rgb(5, 5, 5);
    border-radius: 8px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);  
}



h5 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 22, 22);
    font-size: x-large;
}


strong {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: burlywood;
    font-size: x-large;
}



p {
    color: rgb(49, 102, 54);
    font-family: monospace;

}